<main class="p-5 flex items-center flex-col">
  <section class="flex flex-wrap w-full gap-3 justify-center mb-4 flex-grow">
    <article class="flex-grow">
      <app-card [title]="'Total Clientes'">
        <span class="text-white text-3xl text-center w-full block font-normal ">30</span>
      </app-card>
    </article>

    <article class="flex-grow">
      <app-card [title]="'Clientes Activos'">
        <span class="text-white text-3xl text-center w-full block font-normal ">15</span>
      </app-card>
    </article>

    <article class="flex-grow">
      <app-card [title]="'Satisfacción Clientes'">
        <span class="text-white text-3xl text-center w-full block font-normal ">8</span>
      </app-card>
    </article>
  </section>

  <section class="flex flex-wrap gap-3 justify-center ">

    <article *ngIf="sellsXClient$ |async as sells">
      <app-card [title]="'total compras x cliente top 3'" >
        <app-pie-chart
          [pieChartDatasets]="[{ data: sells.valuesList }]"
          [pieChartLabels]="sells.labelList" />
      </app-card>
    </article>

    <article *ngIf="visitsXClient$ |async as visits">
      <app-card [title]="'visitas x cliente top 3'">
        <app-pie-chart
          [pieChartDatasets]="[{ data: visits.valuesList}]"
          [pieChartLabels]="visits.labelList" />
      </app-card>
    </article>
  </section>

</main>
