<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav bg-slate-700 w-[220px]" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="text-gray-100 flex justify-between">
      Menu
      <button
        type="button"
        aria-label="close sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="close nav icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list >
      <a
        *ngFor="let menuItem of menuItems"
        mat-list-item
        class="hover:bg-slate-800"
        routerLinkActive="bg-slate-800"
        [routerLink]="menuItem.route">
          <span class="text-gray-100">
            {{menuItem.text}}
          </span>
          <mat-icon matListItemIcon class="text-gray-100" aria-hidden="false" aria-label="chart" >{{menuItem.icon}}</mat-icon>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="h-screen bg-slate-700">
    <mat-toolbar class="bg-slate-800 text-gray-100">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>dashboard</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
