<div class="w-full border-gray-100 flex flex-col">
  <label class="text-gray-100" for="filter">Filtro Busqueda</label>
  <input id="filter" class="text-gray-100 bg-slate-800 p-2 border-slate-900 border-2 mt-2 rounded-md" matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
</div>

<div class=" shadow shadow-slate-500">
  <div class="overflow-y-auto mt-5 rounded-lg">
    <table mat-table class="bg-slate-800  w-full" [dataSource]="dataSource" matSort>

      <!-- contact Column -->
      <ng-container matColumnDef="lead">
        <th class="text-gray-100 border-gray-500" mat-header-cell *matHeaderCellDef mat-sort-header> Lead </th>
        <td class="text-gray-100" mat-cell *matCellDef="let row"> {{row.lead}} </td>
      </ng-container>

      <!-- priority Column -->
      <ng-container matColumnDef="status">
        <th class="text-gray-100 border-gray-500" mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td class="text-gray-100 " mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <!-- phone Column -->
      <ng-container matColumnDef="phone">
        <th class="text-gray-100  border-gray-500" mat-header-cell *matHeaderCellDef mat-sort-header> Telefono </th>
        <td class="text-gray-100 " mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th class="text-gray-100  border-gray-500" mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td class="text-gray-100 " mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="text-gray-100  border-gray-500" mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
        <td class="text-gray-100 " mat-cell *matCellDef="let row">
          <button (click)="openDialog(row)" mat-mini-fab color="primary"> <mat-icon>edit</mat-icon> </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="text-gray-100" colspan="4">No se encontro información con "{{input.value}}"</td>
      </tr>
    </table>
  </div>

  <mat-paginator class="bg-slate-800 text-gray-100 w-full" [hidePageSize]="true" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Seleccione pagina de contactos"></mat-paginator>
</div>
